@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", var(--font-montserrat);
  --font-serif: "Inter", var(--font-inter);
  --color-accent: #fc7272;
}

body {
  background: #ffffff;
  color: #171717;
  font-family: var(--font-sans);
}
